# dependencies
node_modules

#python dependencies
pyenv
*.pyc

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Mac OS
.DS_Store

static/db
static/thumbnails
static/images

#assets/
compiled
db.tar.xz
.env